<div class="book item" >
  <a class="url" href="{{ book.amazonLink }}">
    <h4 class="title" id="title-{{ forloop.index }}">
      {{ book.title }} ({{ book.bookAuthor }})
      {% if book.format == "audiobook" %} :headphones: {% endif %}
      {% if book.format == "kindle" %} :iphone: {% endif %}
      {% if book.format == "book" %} :book: {% endif %}
      {% if book.format == "in-progress" %} :pencil: {% endif %}
      {% if book.recommended %} :fire: {% endif %}
    </h4>
  </a>
  <!-- <span display="none" id="description&#45;{{ forloop.index }}">{{  book.description }}</span> -->
</div>
